# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

*.pdb
*.userprefs
*.user
*.pidb
*.suo

*/_ReSharper.*/
*/Tetris.6.0.ReSharper.user

/*/bin/*
/*/obj/*
*.*~
*.user



# mstest test results
TestResults