# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

canuteSe.sou
*.pdb
*.userprefs
*.pidb

*/_ReSharper.*/
*/Tetris.6.0.ReSharper.user

/*/bin/*
/*/obj/*
*.*~




# mstest test results
TestResults